// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movie-table{
  table-layout: fixed;
  width: 100%;
}

p {
 word-break: break-word;
}

.body-content{
  padding: 10px;
}

.facet-filter{
  display: inline-flex;
}

.facet-filter-label{
  margin-top: auto;
  margin-right: 5px;
}

.movie-form{
  padding: 10px;
  marginTop: 30px;
}